<ion-header class="toolbar">
  <ion-toolbar>
    <ion-title><strong>Coleção de Verão</strong></ion-title>
  </ion-toolbar>

  <div class="botao-de-voltar">
    <ion-icon style="min-width: 30px;" name="arrow-back-circle-outline" [routerLink]="['/tabs/tab1']"></ion-icon>
    <ion-label>Voltar</ion-label>
  </div>

</ion-header>

<ion-content>

  <div>
    <ion-img src="../../../assets/roupamaneiraqueeuusaria.png"></ion-img>

  <!-- CARD DA CAMISA -->

    <ion-card class="preco-roupa">
    <div>
      <h3><strong>Camisa Polo Branca</strong></h3>
      <h4>R$120,30</h4>
    </div>

      <ion-button class="botao-de-compra">COMPRAR</ion-button>
    <div class="botoes-esquerda">
      <ion-icon class="icons" name="heart-outline"></ion-icon>
      <ion-icon class="icons" name="share-social-outline"></ion-icon>
      <ion-icon class="icons" name="star-outline"></ion-icon>
    </div>

    </ion-card>

  <!-- CARD DA BERMUDA -->

    <ion-card class="preco-roupa">
    <div>
      <h3><strong>Bermuda Bege</strong></h3>
      <h4>R$ 74,50</h4>
    </div>  

      <ion-button class="botao-de-compra">COMPRAR</ion-button>
    <div class="botoes-esquerda">
      <ion-icon class="icons" name="heart-outline"></ion-icon>
      <ion-icon class="icons" name="share-social-outline"></ion-icon>
      <ion-icon class="icons" name="star-outline"></ion-icon>
    </div>

    </ion-card>

  <!-- CARD DA ÓCULOS -->

    <ion-card class="preco-roupa">
    <div>
      <h3><strong>Óculos de sol</strong></h3>
      <h4>R$ 49,80</h4>
    </div>  

      <ion-button class="botao-de-compra">COMPRAR</ion-button>
    <div class="botoes-esquerda">
      <ion-icon class="icons" name="heart-outline"></ion-icon>
      <ion-icon class="icons" name="share-social-outline"></ion-icon>
      <ion-icon class="icons" name="star-outline"></ion-icon>
    </div>

    </ion-card>

  <!-- CARD DA PULSEIRA -->

    <ion-card class="preco-roupa">
    <div>
      <h3><strong>Pulseira Vermelha</strong></h3>
      <h4>R$ 18,90</h4>
    </div>  

      <ion-button class="botao-de-compra">COMPRAR</ion-button>
    <div class="botoes-esquerda">
      <ion-icon class="icons" name="heart-outline"></ion-icon>
      <ion-icon class="icons" name="share-social-outline"></ion-icon>
      <ion-icon class="icons" name="star-outline"></ion-icon>
    </div>
    </ion-card>
  </div>

</ion-content>
