

<ion-content [fullscreen]="true">

<!-- PRIMEIRO CARD -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Roupas de Verão</ion-card-title>
      <ion-card-subtitle>Aproveite a coleção de Verão!!!</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Você já conhece a coleção de verão das Lojas Senac?
    </ion-card-content>
  
    <ion-button [routerLink]="['/verao']" fill="clear">Ver coleção</ion-button>
    <ion-button fill="clear">Início</ion-button>
  </ion-card>
  
  <!-- SEGUNDO CARD -->

<ion-card>
  
  <ion-card-header>

    <ion-img class="img-kids" src="https://i.pinimg.com/736x/eb/ca/26/ebca26660c283dc150c4ea4b917c8263.jpg"></ion-img>

    <ion-card-title>
      Roupas Infantis
    </ion-card-title>

    <ion-card-subtitle>
      Conheça a nova coleção infantil!!!
    </ion-card-subtitle>
  </ion-card-header>

  <ion-button fill="clear" [routerLink]="['/infantis']">Ver coleção</ion-button>

  <ion-button fill="clear">Início</ion-button> 
    
</ion-card>

</ion-content>
